# General-purpose settings.
color = true
verbose = true

[ABT]
# The number of trajectories to simulate per time step (0 => wait for timeout)
historiesPerStep = 0

# The maximum time to spend on each step, in milliseconds (0 => no time limit)
stepTimeout = 500

# The minimum number of particles for the current belief state in a simulation.
# Extra particles will be resampled via a particle filter if the particle count for the *current*
# belief state drops below this number during simulation.
minParticleCount = 5000

# The maximum depth to search in the tree. 
maximumDepth = 100

searchHeuristic = exactMdp()
searchStrategy = ucb(5.0)
estimator = mean()

[problem]
discountFactor = 0.95

mapPath = cfg/rocksample/maps/map-7-8.txt
goodRockReward = 10
badRockPenalty = 10
exitReward = 10
illegalMovePenalty = 100
halfEfficiencyDistance = 20

[changes]
hasChanges = true
changesPath = cfg/rocksample/changes/changes2.txt
areDynamic = true

[heuristics]
# history-based heuristic type: none/legal/preferred
type = legal
# Restricted search: searches only the given category (all / legal /preferred)
search = legal
# Restricted rollout : randomly chooses from the given category (all / legal / preferred)
rollout = legal

# Initialises preferred actions to have biased initial q-values.
usePreferredInit = false
preferredQValue = 25.0
preferredVisitCount = 10

[simulation]
savePolicy = false
nSteps = 150
nRuns = 1
