# Eclipse settings
.cproject
.project
.settings
EMPTY_HEADER.hpp

# Local configuration
knitro/*
local.cmake

# Binaries
build/*
builds/*
simulate
solve

# Logging outputs
core
*.log
*.pol

# backup files
*~
