# General-purpose settings.
color = true
verbose = true

[ABT]
# The number of trajectories to simulate per time step (0 => wait for timeout)
historiesPerStep = 0

# If this is set to "true", ABT will prune the tree after every step.
pruneEveryStep = true

# The maximum time to spend on each step, in milliseconds (0 => no time limit)
stepTimeout = 1000

# The minimum number of particles for the current belief state in a simulation.
# Extra particles will be resampled via a particle filter if the particle count for the *current*
# belief state drops below this number during simulation.
minParticleCount = 5000

# The maximum depth to search in the tree. 
maximumDepth = 100

searchHeuristic = default()
searchStrategy = ucb(20.0)
estimator = mean()

[problem]
discountFactor = 0.95
moveCost = 0.1
waitCost = 0.1
obstructCost = 5
collideCost = 600
visibleReward = 500

[changes]
hasChanges = false
changesPath = cfg/tag/changes/mid-wall.txt
areDynamic = true

[simulation]
savePolicy = false
nSteps = 150
nRuns = 1
