<launch>

	<!-- launch octomap server -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.125" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="/world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="7.0" />
		
		<!-- data source to integrate (PointCloud2) -->
		<!-- <remap from="cloud_in" to="/narrow_stereo/points_filtered2" /> -->
	
	</node>

	<!-- tracker node -->
	<param name="target_policy" value="1" />
	<node pkg="abt" type="tracker_node" name="tracker_node" output="screen"/>
</launch>